{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
<img src="https://cdn.yeudulich.com/1200x630/media/attraction/attraction/7f/cb/0a09-e567-4409-95fc-3e5332463908.jpg" width="105%" height="105%">
</div>
{% endblock %}
